<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<bean id="urlHandlerMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="wife.mvc">wifeController</prop>
				<prop key="wifeMulti.mvc">wifeMultiController</prop>
			</props>
		</property>
	</bean>

	<bean id="wifeController" class="com.KevinZach.spring.mvc.WifeController">
		<property name="wifeService" ref="wifeService"></property>
	</bean>

	<bean id="paraMethodResolver"
		class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
		<property name="paramName">
			<value>action</value>
		</property>
		<property name="defaultMethodName">
			<value>list</value>
		</property>
	</bean>

	<bean id="wifeMultiController" class="com.KevinZach.spring.mvc.WifeMultiController">
		<property name="wifeService" ref="wifeService"></property>
	</bean>

</beans>